<!--
    footer.ejs
    Student's name: Yuk Hong Ma
    Student ID: 301210312
    Web App: Used Car Store
    Date: June 24, 2022
-->

<footer class="footer">
        <div class="container">
            <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
        </div>
    </footer>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        var getTitle = "<%= title %>";
    </script>
    <script src="/javascripts/appclient.js"></script>    
</body>
</html>