<!--
    index.ejs
    Student's name: Yuk Hong Ma
    Student ID: 301210312
    Web App: Used Car Store
    Date: June 24, 2022
-->

<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>

  

<% include partials/footer.ejs %>
