<% include partials/header.ejs %>

<!--
    users.ejs
    Student's name: Yuk Hong Ma
    Student ID: 301210312
    Web App: Used Car Store
    Date: June 24, 2022
-->

  <h1><%= title %></h1>
  <p>Welcome <%= userName %> to <%= title %> page</p>

<% include partials/footer.ejs %>